<?xml version="1.0" encoding="utf-8"?>
<manifest package="eu.thedarken.wldonate"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name="eu.thedarken.wldonate.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme.NoActionBar">
        <activity
            android:name="eu.thedarken.wldonate.main.ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.LauncherToMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
            android:name="eu.thedarken.wldonate.main.core.receiver.LockCommandReceiver"
            android:enabled="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.PHONE_STATE"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <service android:name="eu.thedarken.wldonate.main.core.service.LockService"/>

        <meta-data
            android:name="com.bugsnag.android.API_KEY"
            android:value="${apikey_bugsnag}"/>
    </application>
</manifest>